.header
    padding-top: 20px
    .icon
        margin: 0 10px
        &.icon-logo
            margin-right: 30px

    .top-menu
        display: inline-block
        a
            &:hover
                position: relative
                opacity: 0.9


