.member
    .menu
        position: relative
        width: 556px
        margin: 80px auto
        z-index: 1
        .icon
            margin: 6px
            &:hover
                opacity: 0.9
                position: relative
                top: -3px
