.signup
    .paper
        .intro
            padding: 30px
            h2
                margin-top: 10px
                margin-bottom: 20px
                letter-spacing: 1.5px
                font-weight: bold
            p
                font-size: 16px
                line-height: 30px
                margin-top: 30px
        .signup-form
            padding: 30px
            button.submit
                margin-top: 30px
